
@*<style type="text/css">
    #modalbox {
      width:900px;
     height:600px;
     overflow:scroll;
    }
</style>*@

<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


<div class="panel panel-primary">
    <h1>People Information Portal</h1>
</div>

<input type="button" id="btnaddperson" class="btn btn-small btn-primary" value="Add Person"/>
<hr/>
<div class="panel panel-default pre-scrollable">
    <table class="table table-striped table-bordered table-responsive table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>State</th>
                <th>MobileNo</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Persons">
            <tr>
                <td>
                    <span data-bind="text:PersonId"></span>
                </td>
                <td>
                    <span data-bind="text:FirstName"></span>
                </td>
                <td>
                    <span data-bind="text:LastName"></span>
                </td>
                <td>
                    <span data-bind="text:City"></span>
                </td>
                <td>
                    <span data-bind="text:State"></span>
                </td>
                <td>
                    <span data-bind="text:MobileNo"></span>
                </td>
                <td>
                    <button class="btn glyphicon glyphicon-pencil" data-bind="click:$root.getSelected" />
                </td>
                <td>
                    <button class="glyphicon glyphicon-trash" data-bind="click:$root.delete" />
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div id="modalbox" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Register New Person</h1>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped table-bordered">
                    <tr>
                        <td>First Name:</td>
                        <td>
                            <input type="text" data-bind="value:FirstName" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Middle Name:</td>
                        <td>
                            <input type="text" data-bind="value:MiddleName" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>
                            <input type="text" data-bind="value:LastName" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <textarea data-bind="value:Address" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td>
                            <input type="text" data-bind="value:City" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>
                            <select data-bind="options:States,optionsCaption:'Select State',value:SelectedState" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Phone No:</td>
                        <td>
                            <input type="text" data-bind="value:PhoneNo" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mobile No:</td>
                        <td>
                            <input type="text" data-bind="value:MobileNo" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td>
                            <input type="email" data-bind="value:EmailAddress" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Occupation:</td>
                        <td>
                            <select type="text" data-bind="options:Occupations,optionsCaption:'Select Option',value:SelectedOccupation" class="form-control" />
                        </td>
                    </tr>
                </table>      
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" data-bind="click:save">Ok</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/knockout-3.2.0.js"></script>
<script src="~/Scripts/MyScripts/PersonInfo.js"></script>
<script type="text/javascript">
    $(function () {
        var modelbox = function () {
            $("#modalbox").modal("show");
        };
        $("#btnaddperson").on('click', modelbox);
        
    });
</script>

